include title_bar

doctype 5
html(lang="en")
   head
      title CDC Pool #{player.year} Player #{player} Profile
      link(rel="stylesheet" type="text/css" href="/stylesheets/title_bar.css")
      link(rel="stylesheet" type="text/css" href="/stylesheets/player_profile.css")
   body
      form(action="profile",method="post")
         - var page_title = "Player " + player.id + " Profile"
         +display_page_title(page_title)
         br
         table
            tr
                td(id="player-name-label") Player Name
                td(id="player-name-content") 
                    input(type='text',name='player_name_input',size='30',value='#{player.name}')
         table
            tr
               td
                  input(type='submit', name='submit_form', value='Submit')
               td
                  input(type='submit', name='cancel_form', value='Cancel')
