/* css help?  http://kyleschaeffer.com/development/css-font-size-em-vs-px-vs-pt-vs/ */

.game-header {
   color: #E6E6FF;
   background-color: #0000E6;
   font-size: 8pt;
   padding: 0px 4px;
}

.game-content {
   color: black;
   background-color: lightyellow;
}

#teams-header {
   text-align: left;
   padding: 1px 4px;
   font-family: Helvetica;
   font-weight: 100;
}

#score-header {
   text-align: center;
   padding: 1px 4px;
   font-family: Helvetica;
   font-weight: 100;
}

#status-header {
   background-color: white;
}

#team-name {
   width: 15em;
   font-family: Helvetica;
   font-size: 10pt;
   padding: 1px 4px;
   white-space: nowrap;
   font-weight: 500;
}

#vs {
   background-color: white;
   font-size: small;
   font-family: Helvetica;
   font-weight: 500;
}

#game-status {
   background-color: white;
   font-size: small;
}

#team-score {
   background-color: white;
   text-align: center;
}

#final {
   color : black;
   font-family: Helvetica;
   font-weight: 500;
}
